# Created by .ignore support plugin (hsz.mobi)
### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

### JetBrains template
.idea/
*.iml

src/main/webapp/node_modules/
src/main/webapp/typings/
src/main/webapp/npm-debug.log
src/main/webapp/app/**/*.js
src/main/webapp/app/**/*.js.map
