<sm-menu title="Library" class="inverted blue">
    <a sm-item icon="book big" routerLink=""></a>
    <a sm-item icon="home big" routerLink="">Home</a>
    <a sm-item icon="users big" routerLink="about">About Us</a>

    <sm-menu class="menu right secondary">
        <div class="item">
            <sm-search placeholder="Search..." [loading]="false" [icon]="true"></sm-search>
        </div>
        <a sm-item icon="chevron circle right big" routerLink="login">Log In</a>
    </sm-menu>
</sm-menu>